svg {
  border-radius: 10px;
  border: 2px solid black;
  width: 65px;
  height: 65px;
  transition: transform 0.4s;
}
.freeDice:hover,
.lockedDice:hover {
  transform: scale(1.1) rotate(2deg);
}
.freeDice,
.throwingDice {
  background-color: rgb(194, 247, 115);
}
.freeDice:hover {
  background-color: greenyellow;
}
.lockedDice {
  background-color: rgb(216, 0, 0);
}
.lockedDice:hover {
  background-color: rgb(240, 8, 8);
}
.throwingDice {
  transform: scale(1.1) rotate(360deg);

}