* {
  margin: 0;
}
body {
  background-color:rgb(245, 245, 245);
}


.mainContainer {
  display: flex;
  flex-direction: column;
}
.gameContainer {
  margin: auto;
  width: 100%;
}
@media only screen and (min-width: 801px) {
  .gameContainer {
    width: 80%;
  }
}
@media only screen and (min-width: 1281px) {
  .gameContainer {
    width: 500px;
  }
}


.tableContainer {
  display: flex;
  margin: 5px;
  flex-direction: column;
  border: 4px solid rgb(78, 20, 20);
  border-radius: 5px;
}

.diceContainer {
  display: flex;
  margin-top: 10px;
}

.header {
  display: flex;
  width: 500px;
  margin: 5px auto;
  justify-content: center;
}
.header > button {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  flex-grow: 1;
  background-color: white;
  margin: 0 5px;
  font-size: 1.5vh;
}
.header > input {
  padding: 0 5px;
  border-radius: 5px;
  flex-grow: 2;
  margin: 0 5px;
  font-size: 2vh;
}
input:disabled {
  background-color: rgb(175, 175, 175);
}

.throwButton {
  background-color: rgba(225, 225, 225);
  width: 100%;
  line-height: 50px;
  font-size: 2vh;
  border: none;
  transition: background-color 0.25s, color 0.25s;
}
.throwButton:hover {
  background-color: rgba(175, 175, 175);
  color: rgb(240, 240, 240);
}

.categoryFree,
.categoryLocked {
  height: 100%;
  border: none;
  font-size: 2.25vh;
}
.categoryFree {
  background-color: rgba(0, 100, 0, 0.6);
  color: rgb(245, 245, 245);
  transition: background-color 0.25s, color 0.25s;
}
.categoryFree:hover {
  background-color: rgba(0, 255, 0, 0.4);
  color: black;
}
.freeDice {
  background-color: rgb(130, 200, 94);
  transition: background-color 0.1s;
}
.freeDice:hover {
  background-color: rgb(130, 248, 94);
}

.categoryLocked,
.lockedDice {
  background-color: rgb(215, 0, 0);
  transition: background-color 0.25s;
  font-weight: bold;
}

.lockedDice:hover {
  background-color: rgba(245, 0, 0, 1);
  color: rgb(240, 240, 240);
}

.categoryHeader,
.categoryCentered {
  background-color: rgba(205, 224, 119, 0.6);
  width: 50%;
  font-size: 2.5vh;
  font-weight: bold;
  border-bottom: 1px solid rgba(205, 224, 119, 1);
  padding: 0 5px;
}

.categoryCentered {
  text-align: center;
}
.categoryCentered > button {
  width: 100%;
}

.categoryRow {
  width: 100%;
  display: flex;
}

button {
  outline: none;
}
.diceRow {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.diceRow > button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
svg {
  border-radius: 10px;
  border: 2px solid black;
  width: 65px;
  height: 65px;
}

svg:hover {
  transform: scale(1.10) rotate(2deg);
}
