.throwButton {
  background-color: rgba(225, 225, 225);
  width: 100%;
  line-height: 50px;
  font-size: 2vh;
  border: none;
  transition: background-color 0.25s, color 0.25s;
}
.throwButton:hover {
  background-color: rgba(175, 175, 175);
  color: rgb(240, 240, 240);
}

.categoryFree,
.categoryLocked {
  height: 100%;
  border: none;
  font-size: 2.25vh;
}
.categoryFree,
.freeDice {
  background-color: rgba(0, 100, 0, 0.6);
  color: rgb(245, 245, 245);
  border-bottom: 1px solid rgba(0, 155, 0, 1);
  transition: background-color 0.25s, color 0.25s;
}
.categoryFree:hover,
.freeDice:hover {
  background-color: rgba(0, 255, 0, 0.4);
  color: black;
}

.categoryLocked,
.lockedDice {
  background-color: rgba(200, 0, 0, 0.8);
  border-bottom: 1px solid rgba(255, 0, 0, 1);
  transition: background-color 0.25s;
}

.lockedDice:hover {
  background-color: rgba(255, 0, 0, 0.6);
  color: rgb(240, 240, 240);
}

.categoryHeader,
.categorySum {
  background-color: rgba(205, 224, 119, 0.6);
  width: 50%;
  line-height: 3.5vh;
  font-size: 2.5vh;
  font-weight: bold;
  border-bottom: 1px solid rgba(205, 224, 119, 1);
}
.categoryHeader {
  padding: 0 5px;
}
.categorySum {
  text-align: center;
}
.categoryPoints {
  width: 50%;
}
.categoryPoints > button {
  width: 100%;
}
.categoryRow {
  width: 100%;
  display: flex;
}
.gameContainer {
  margin: auto;
  width: 500px;
}
@media only screen and (max-width: 1080px) {
  .gameContainer {
    width: 100%;
  }
}
.tableContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 4px solid rgb(78, 20, 20);
  border-radius: 5px;
}

.diceContainer {
  display: flex;
  margin-top: 10px;
}

.lockedDice,
.freeDice {
  padding: 0;
}

button {
  outline: none;
}
.diceRow {
  width: 100%;
  display: flex;
  justify-content: center;
}
.diceRow > button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
svg {
  stroke: white;
  stroke-width: 0.05cm;
  border-radius: 10px;
  border: 2px solid black;
  border-bottom: 5px solid black;
  width: 85px;
  height: 85px;
}

svg:hover {
  transform: scale(1.05) rotate(2deg);
}
